#title  {
    color: white;
    background-color: rgb(54, 7, 7);
}
h1 {
    color: white;
    background-color: red;
}


.p  {
    color: rgb(0, 0, 0);
    background-color: #fa8072;
}
/* Subsection of a method*/
#subsection {
    color: blue;
    font-weight: bold;
}

#blue {
    color: #0000ff;
}
.num-3 {
    color: #000000;
    background-color: #fa8072;
}

#num-4  {
    background-color: rgb(68, 225, 36);
}
/* BGS */
.cm  {
    color: white;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    
    
}
.ncm  {
    color: black;
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
   
}

.buttons {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}