#title  {
    color: white;
    background-color: rgb(54, 7, 7);
}
h1 {
    color: white;
    background-color: red;
}


.p  {
    color: rgb(0, 0, 0);
    background-color: #fa8072;
}

#blue {
    color: #0000ff;
}
.num-3 {
    color: #000000;
    background-color: #fa8072;
}

#num-4  {
    background-color: rgb(68, 225, 36);
}